<div>
  <pre>
  Welcome to SortIt!

  Here you can rate everything you find in the Internet! Start by specifying a category
  either by typing hashtag to search bar or by clicking latest activities below.

  After specifying tags you can type name of the item or introduce a new item from a URL.
  Giving URL makes SortIt's trained spider to fetch needed information from that URL and
  add it to your sort.
  </pre>
</div>
<h2>
  Latest activity
</h2>
<list-active-channels tags="userData.activeTags"></list-active-channels>

