<div ng-show="channels.length" class="channels-container">
  <a href ng-click="showChannel(channel.tags)" ng-repeat="channel in channels">
    <div class="channel-container">
      <h3>Top average with tags:
        <div ng-repeat="tag in channel.tags" class="tag-container">
          #{{tag}}
        </div>
      </h3>

      <ul class="static-list">
        <li ng-repeat="item in channel.items">
          <static-item item="item"></static-item>
        </li>
      </ul>
    </div>
  </a>
</div>

