<table class="list-table">
  <tr>
    <td class="text-container">
      <div class="light-text vertical">My sort</div>
    </td>
    <td rowspan="2">
      <div class="list-view">
        <div class="user-items-container">
          <span class="light-text" ng-hide="userItems.length || resolvingItems.length">There seems to be nothing here. Start adding items from text field!</span>
          <list-items items="userItems" pending-items="resolvingItems"></list-items>
        </div>
        <div class="color-gradient"></div>
        <list-static-items items="averageItems"></list-static-items>
      </div>
    </td>
  </tr>
  <tr>
    <td class="text-container">
      <div class="light-text vertical">Average</div>
    </td>
  </tr>
</table>
<div ng-show="$root.channels.length" class="channels-container">
  <h2 ng-show="$root.activeTags.length">
    Latest activity under
    <div ng-repeat="tag in $root.activeTags" class="tag-container">
      #{{tag}}
    </div>
  </h2>
  <h2 ng-hide="$root.activeTags.length">
    Latest activity in SortIt
  </h2>
  <list-active-channels></list-active-channels>
<div>
