<table class="list-table">
  <tr>
    <td class="text-container">
      <div class="light-text vertical">My sort</div>
    </td>
    <td rowspan="2">
      <div class="list-view">
        <div class="user-items-container">
          <list-items items="userItems"></list-items>
        </div>
        <div class="color-gradient"></div>
        <list-static-items items="averageItems"></list-static-items>
      </div>
    </td>
  </tr>
  <tr>
    <td class="text-container">
      <div class="light-text vertical">Average</div>
    </td>
  </tr>
</table>

