<div class="tablerow">
  <div class="tablecell">
    <div class="centertext">
      <h1>{{leftLaneTitle}}</h1>
    </div>
  </div>
  <div class="tablecell"></div>
  <div class="tablecell">
    <div class="centertext">
      <h1>My sort</h1>
        <!-- <a href="{{url_for('sortit.redirect_to_my_room', item_id=itemId)}}">generate link for my sort</a>-->
      <a href="">generate link for my sort</a>
    </div>
  </div>
</div>
<div class="average-container">
  <div id="averages-and-reveal">
    <list-left-lane></list-left-lane>
  </div>
</div>
<div class="pilar"></div>
<div class="sorting-container">
  <div>
    <list-right-lane></list-right-lane>
  </div>
</div>

