<!DOCTYPE HTML>
<html lang="en" ng-app="SortIt">
<head>
  <meta charset="utf-8"/>
  <title>SortIt!</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='spinner.css') }}"/>

  <script src="{{ url_for('static', filename='js/lib/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/complete.ly.1.0.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/Sortable.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/EventSource.js') }}"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="{{ url_for('static', filename='js/lib/angular-resource.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular-route.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/services.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/directives.js') }}"></script>
  <base href="/">
</head>
<body ng-controller="MainController">
<div class="top-nav-container">
  <div class="logobox">
    <a href="/">
      <img src="{{url_for('static', filename='logo.png')}}"/>
    </a>
  </div>
  <div class="topbox">
    <div class="trash-container" ng-class="{'showtrash':userData.dragging}">
      <trash></trash>
    </div>
    <div class="search-container">
      <span class="small-text light-text">Alpha version: Domains restricted to imdb.com, ebay.com, amazon.com and ratebeer.com.</span><br/>
      <search-bar user-data="userData"></search-bar>
    </div>
  </div>
</div>
<div class="block-container" ng-view></div>
</body>
</html>
