<!DOCTYPE HTML>
<html lang="en" ng-app="SortIt">
<head>
  <meta charset="utf-8"/>
  <title>SortIt!</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
  <link href="{{ url_for('static', filename='jquery/css/smoothness/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='spinner.css') }}"/>
  <script src="{{ url_for('static', filename='js/lib/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery/js/jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery/js/jquery-ui-1.10.4.custom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/autocomplete.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular-resource.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular-route.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/EventSource.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/sortable.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/services.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/directives.js') }}"></script>
  <base href="/">
</head>
<body>
<div class="top-nav-container">
  <div class="topbox">
  <img src="{{url_for('static', filename='logo.png')}}"/>
</div>
  <div class="topbox">
    <span>Alpha version: Domains restricted to imdb.com, ebay.com, ratebeer.com and
      amazon.com. Db drops may happen.</span><br/>
    <search-bar></search-bar>
  </div>
</div>

<div class="block-container" ng-view></div>
</body>
</html>
