@font-face {
  font-family: "ClearSans";
  src: url(ClearSans-Regular.ttf) format("truetype");
}

body {
  font-family: "ClearSans", sans-serif;
  text-align: center;
  text-decoration: none;
}

h2{
  font-size:25px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#trash-list .draggable{
  visibility:hidden;
}

.top-nav-container {
  padding:5px;
  padding-bottom: 20px;
  border-color:gray;
  position:relative;
  display:inline-block;
  margin:auto;
  width:900px;
}

.top-nav-container form {
  display:inline-block;
}

.topbox{
  display:block;
  text-align:left;
}
.logobox{
  display:block;
  float:left;
}

.topbox input[type="text"] {
  width:420px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-size:16px;
}

.topbox input[type="text"]:focus,
.topbox input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.topbox input[type="submit"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
}

.trash-container{
  position:absolute;
  width:100%;
  height:105px;
  color:gray;
  top:-130px;
  overflow:hidden;
  background-color:white;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  z-index:2;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.trash-container ul{
  width:100%;
  height:100%;
}

.trash-icon-container{
  position:absolute;
  z-index:-1;
  text-align:center;
  left:35%;
}

.showtrash.trash-container{
  top:0px;
}
.trash-container .hilight{
  background-color:transparent;
  color:red;
}
.search-container{
  height:70px;
}

.tag-container {
  border-radius:10px;
  padding:5px;
  background-color:#FFB8FF;
  display:inline-block;
  margin:5px;
}

.tag-container a {
  text-decoration:none;
  font-size:15px;
}

.close-button{
  color:black;
}
.tag-container:hover .close-button{
  color:white;
}
.drop-down{
  overflow:hidden;
  max-width:700px;
  z-index:100;
  font-family: "ClearSans", sans-serif;
}
.list-view {
  margin:15px;
  display:inline-block;
}

.list-view ul {
  min-height:230px;
  width:100%;
}

.sort-item-container .background{
z-index:-1;
height:100%;
mask:url('average_mask.svg#logo_mask');
-webkit-mask-image:url('average_mask.svg');
}

.sort-item-container {
height:290px;
width:122px;
min-width:122px;
max-width:122px;

position:relative;
text-align:center;
overflow:hidden;
position:relative;
display:inline-block;
background-size:100%;
}
.sort-item-container .static{
  background-image:url(average_mask.svg) no-repeat;
}
.sort-item-container .draggable{
  background-image:url(mask.svg) no-repeat;
}
.sort-item-container .title {
  color:white;
  background-color:rgba(0,0,0,0.4);
  display: inherit;
  text-decoration:none;
  position:absolute;
  z-index:90;
}
.sort-item-container .title.bottom{
  bottom:0px;
}
.sort-item-container .title.top{
  top:0px;
}
.sort-item-container>img {
  z-index:-1;
  height:100%;
  -webkit-filter: blur(2px);
  -moz-filter   : url('blur.svg#blur');
  -ms-filter    : url('blur.svg#blur');
  -o-filter     : url('blur.svg#blur');
  filter        : url('blur.svg#blur');
}
.sort-item-container.static>img {
  mask:url('average_mask.svg#logo_mask');
  -webkit-mask-image:url('average_mask.svg');
}
.sort-item-container.draggable>img {
  mask:url('mask.svg#logo_mask');
  -webkit-mask-image:url('mask.svg');
}
.item-image-container{
  position:absolute;
  border-radius:122px;
  -webkit-border-radius: 122px;
  -moz-border-radius: 122px;
  background-position:center;
  min-width:122px;
  min-height:110px;
  max-height:200px;
}
.item-image-container.top{
  top:35px;
}
.item-image-container.bottom{
  bottom:35px;
}

.item-image-container img{
  width:100%;
  visibility:hidden;
}
.channels-container{
  max-width:980px;
  margin-left:auto;
  margin-right:auto;
}
.channel-container{
  margin:10px;
  padding:5px;
  border:1px dotted;
  color:gray;
  display:inline-block;
}
.item-list {
  list-style:none;
  display:inline-block;
  margin-bottom:15px;
  margin-left:0px;
}

.static-list {
  list-style:none;
  display:inline-block;
  margin-top:15px;
  margin-left:0px;
}

.item-list>li,.static-list>li {
  float:left;
  margin-right: 10px;
  margin-left: 10px;
}
.static-list>li{
  transition: all 0.2s ease-out;
}

.resolving .sort-item-container {
  background-color: #D1D1E0;
}

.arrow-down:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: inherit;
  border-width: 61px;
  margin-left: -61px;
}
.resolving .arrow-down:after{
  border-top-color: #D1D1E0;
}
.arrow-up:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #D1D1E0;
  border-width: 61px;
  margin-left: -61px;
}

.color-gradient{
  height:15px;
  width:100%;
  background: #31ff2d;
  background: -moz-linear-gradient(left,  #31ff2d 0%, #fff968 52%, #ff2828 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#31ff2d), color-stop(52%,#fff968), color-stop(100%,#ff2828));
  background: -webkit-linear-gradient(left,  #31ff2d 0%,#fff968 52%,#ff2828 100%);
  background: -o-linear-gradient(left,  #31ff2d 0%,#fff968 52%,#ff2828 100%);
  background: -ms-linear-gradient(left,  #31ff2d 0%,#fff968 52%,#ff2828 100%);
  background: linear-gradient(to right,  #31ff2d 0%,#fff968 52%,#ff2828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31ff2d', endColorstr='#ff2828',GradientType=1 );
  position:relative;
}

.list-table {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.list-table td {
  vertical-align:middle;
}
.list-table .text-container {
  max-width: 30px;
  overflow:hidden;
  white-space:nowrap;

}

.light-text {
  font-size:25px;
  color: #9595AB;
}

.item-counter{
  position:absolute;
  right:0px;
  top:-30px;
}

.small-text {
  font-size:15px;
}


.vertical{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.hilight {
  background-color: #FFFFA3;
}

